.error-wrapper {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding-bottom: 3rem;

  img {
    @media only screen and (min-width: $xl-screen) {
      max-width: 60%;
    }
  }

  button {
    @media only screen and (min-width: $lg-screen) {
      margin-top: -3rem;
    }
  }
}
