.nav {
  height: calc(100vh - 50px);
  width: 100%;

  @media screen and (min-width: $md-screen) {
    height: auto;
    width: auto;
  }

  &__list {
    border-left: 0.3rem solid $primary-light;
    color: $black;
    display: flex;
    flex-direction: column;
    font-size: $text-md;
    gap: 3rem;
    padding: 1.5rem;
    position: relative;
    top: 5rem;
    width: 100%;

    @media screen and (min-width: $md-screen) {
      border: var(--none);
      flex-direction: row;
      padding: 0;
      top: 0;
    }
  }
}

.toggleNav {
  display: none;

  @media screen and (min-width: $md-screen) {
    display: flex;
  }
}
