.input {
  display: flex;
  flex-direction: column;

  input {
    background-color: #eee;
    border: var(--none);
    border-radius: 0.5rem;
    color: $dark;
    font-family: $text-font;
    margin: 0.25rem 0;
    padding: 1rem 1.2rem;
    width: 100%;
  }

  input[type='date'] {
    appearance: none;
    cursor: pointer;
    height: 3.7rem;
  }

  label {
    color: $dark-grey;
    font-size: $text-sm;
  }

  .error {
    color: $secondary-light;
    font-size: $text-xs;
    margin-top: 0.25rem;
  }
}
